
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;   
}
body {
   
    background-color: #FFFFFF ;
    color: #fff;
}

.container {
    position: relative;
    margin: 10px;
    height: 1055px;
    padding: 20px;
    background-color: #FF7381;
    border-radius: 25px;
    
    
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    justify-content: space-between;
    

}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    
    
}


.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 40%;

}


ul {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

ul li {
    font-size: 20px;
    margin: 5px; /* Add spacing between list items */
}

ul li a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px; /* Add horizontal padding for better click area */
    overflow: hidden; /* Ensure the pseudo-element stays within bounds */
}
ul li a:hover{
    color: black;
}

ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: bottom left; /* Ensure animation starts from the left */
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    
}



.user-account {
    
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-icon img {
    width: 55px;
    height: 55px;
    margin-right: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.account-info {
    background-color: #FF8A92;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.account-info p {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
}

.content-wrapper {
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: 1581px;
    height: 562px;
    
}

.content-wrapper .content {
    max-width: 500px;
    color: #FF7381;
    
}

.content-wrapper h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.line-one{
    position: absolute;
    width: 559px;
    top: 150px;
    left: 60px;
    border-top: 1px solid gray;
}
.line-two{
    position: absolute;
    border-top: 1px solid gray;
    top: 185px;
    left: 60px;
    width: 150px;
}
.line-three{
    position: absolute;
    border-top: 1px solid gray;
    top: 185px;
    left: 278px;
    width: 341px;
}
.line-four{
    position: absolute;
    border-top: 1px solid gray;
    top: 219px;
    left: 60px;
    width: 219px;
}
.line-five{
    position: absolute;
    border-top: 1px solid gray;
    top: 219px;
    left: 339px;
    width: 278px;
}


.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #FF7381;
    background-color: #FF7381;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s, background-color 0.3s;
}

button:hover {
    box-shadow: 0px 0px 10px 5px rgba(255, 115, 129, 0.8);
    background-color: #FF8A92;
}


.register {
    background-color: #FF8A92;
    border: 1px solid #FF8A92;
    
    
}
.register a{
    text-decoration: none;
    color: black;
 
}


.request {
    background-color: #FF8A92;
    
    border: 1px solid #FF8A92;
    
}
.request a{
    text-decoration: none;
    color: black;
}

.poster img {
    width: 500px;
    max-width: 500px;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.poster{
    position: absolute;
    right: 110px

}

.content p{
    color: #fff;
}
.content h2{
    color: #fff;
}

.All-course1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1%;
    padding-top: 5%;
    
}

/* Course Box */
.coursee1 {
    
    background-color: rgb(234, 115, 115);
    border: 1px solid #ccc;
    border-radius: 10px;
    
    width: 20%; /* Adjust width to fit 4 boxes in a row */
    height: 20vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; /* Consistent spacing between rows */
    overflow: hidden; /* Ensure content doesn't overflow */
    min-width: 270px;
    justify-content: center;
    align-items: center;
}
.course-info{
    position: sticky;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
   
} 
.course-info > h1{
    margin-top: 10px;
}
.course-info > p{
    font-size: 20px;
    margin: 10px 0 10px 0;
} 



/* Course Hover Effect */
.coursee1:hover {
    transform: translateY(-5px);
    background-color: #31b0d5; /* Bright Blue */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

  .text-box{
    width: max-content;
    color: rgb(163, 26, 26);
    position: absolute;
    top: 80px;
    left: 60px;
    
    
 }
 .text-box h1{
    font-size: 40px;
    font-style: italic;
    color: black;
 
 }
 .text-box h1 span{
   color: #ff004c;
   animation: animate 4s ease-in-out infinite;
   font-style: italic;
 }
 
 @keyframes animate
 {
   0%,100%
   {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
            54% 60%, 70% 61%, 84% 59%, 100% 52%,
            100% 100%, 0% 100%);
   }
   50%
   {
      clip-path: polygon(0 60%, 16% 65%, 34% 66%,
            51% 62%, 67% 50%, 84% 45%, 100% 46%, 100%
          100%, 0% 100%)
   }
 }
 .blood{
   width: max-content;
   color: transparent;
   position: absolute;
   top: 80px;
   left: 60px;
   
   
 }
 .blood h1{
   font-size: 40px;
   font-style: italic;
 }
 .blood h1 span{
   -webkit-text-stroke: 2px #ff004c;
   font-style: italic;
 }
 .blood p{
   
   font-size: 28px;
   color: transparent;
 }

 @media (max-width: 1000px) {
    header {
      flex-direction: column;
    }
    ul {
        flex-direction: column;
        align-items: center;
      }
    ul li{
        padding: 10px;

    }}

.sub-menu-wrap{
    position: absolute;
<<<<<<< HEAD
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
        
.dropdown .content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    }
    .user-account{
        flex-direction: column;
    }
    .container{
        height: 150vh;
    }
}}
  }


  
=======
    top: 100px;
    right: 0;
    width: 320px;
    max-height:  0px;
    overflow: hidden;
    z-index: 2;
    transition: max-height 0.5s;
   
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h2{
    font-weight: 500;
    color: black
}
.user-info img{
    width: 70px;
    border-radius: 50%;
    margin-right: 70px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
     

}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
     padding: 8px;
     margin-right: 15px;
}
.sub-menu-link span{
    font-size: 15px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 550;
}
>>>>>>> b2d7adfde646fa9053d89980745e03ee628f02a5
